<meta charset="UTF-8" />
<link rel="icon" href="/img/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Impro</title>

<link rel="stylesheet" href="/css/style.css" />

<script>
  // Inject environment variables from 11ty
  window.env = {
    hostName: "{{ hostName }}",
    gitCommit: "{{ gitCommit }}",
  };
</script>
<script>
  import("/js/theme.js").then(({ theme }) => {
    // Apply theme separately so it applies even if the other JS fails somehow.
    // We could make this synchronous but it's not worth the effort for now.
    theme.apply();
  });
</script>
